<form #formLogin="ngForm" (ngSubmit)="onLogin(formLogin)">
  <h1 *ngIf="!isError">Login</h1>
  <div role="alert" *ngIf="isError">
    Something is wrong!
  </div>
  <div>
    <input type="email" id="email" name="email" placeholder="Email" [(ngModel)]="user.email" required>
  </div>
  <div class="form-group">
    <input type="password" id="password" name="password" placeholder="Password" [(ngModel)]="user.password"
      required>
  </div>
  <button type="submit">Login</button>
  <div>
    <a routerLink="/user/register">Are you new ?</a>
  </div>
</form>
